<hr>

<div class="container" id='address_list'>
    <div class="col-md-3 col-sm-6 hero-feature" ng-repeat="(key,value) in addressList">
        <input type='radio' value='{{value.id}}' name='address' ng-model='order.address_id'>
        <div>Name: {{value.full_name}}</div>
        <div>Address: {{value.address}}</div>
        <div>Area: {{value.area}}</div>
        <div>Mobile number: {{value.mobile_number}}</div>
        <div>Landmark: {{value.landmark}}</div>
        <div>City: {{value.city}}</div>
        <div>State: {{value.state}}</div>
        <div>Pin: {{value.pin}}</div>
        <div><a href='#/address/{{value.id}}/edit'> Edit </a></div>

    </div>

</div>
<div class="container">
    <button id="btn-login" class="btn btn-success">Request service now</button>
</div>

