<form name='editform' id="user_login" ng-submit="update(editform.$valid);" novalidate>

    <div>
        <input required placeholder="First name" type='text' name='first_name' ng-model="user.first_name" >
        <span class="help-block"
              ng-show="editform.first_name.$invalid && editform.first_name.$dirty">
            Firstname is required
        </span>
    </div>
    <div>
        <input required placeholder="Last name"  type='text' name='last_name' ng-model="user.last_name" >
        <span class="help-block"
              ng-show="editform.last_name.$invalid && editform.last_name.$dirty">
            Last is required
        </span>
    </div>
    <div>
        <input required placeholder="Email" name="email" type='email' ng-model="user.email" >
        <span class="help-block"
              ng-show="editform.email.$invalid && editform.email.$dirty">
            Email is required
        </span>
    </div>
    <div>
        <input required placeholder="mobile number" name="phone_number" type='text' ng-model="user.phone_number" >
        <span class="help-block"
              ng-show="editform.phone_number.$invalid && editform.phone_number.$dirty">
            Mobile number is required
        </span>
    </div>
    
    <div>
        
        <input type="radio" name="gender" ng-model="user.gender" value="male" checked> Male<br>
        <input type="radio" name="gender" ng-model="user.gender" value="female"> Female<br>
        <span class="help-block"
              ng-show="editform.gender.$invalid && editform.gender.$dirty">
            Gender is required
        </span>
    </div>
    
    
    <input ng-disabled="editform.$invalid" type='submit' >
    <p id='errorMsg'>{{errorMessage}}</p>
</form>