<hr>

<div class="container" ng-show="now_showing == 'service_types'">
    <h3>Services we offer</h3>

    <ul class="list-inline">
        <li  ng-repeat="service in laundryServiceTypes">
             
            <input id='service_{{service.id}}'  checklist-value="service.id" type="checkbox" checklist-model="enquiry.items" value="{{service.id}}"> <label for='service_{{service.id}}'>{{service.name}}</label>
            <!--<input id='radio' type='radio' value='{{service.id}}' name='category' ng-model='enquiry.category'>-->    
        </li></ul>
    <button ng-click="addCartLaundry()" ng-show="enquiry.items.length > 0">({{enquiry.items.length}} selected) Continue</button>
    <button ng-click="showClothPriceList()"> Show prices</button>
</div>
<div class="container" ng-show="now_showing == 'price_list'">
    <laundryprices></laundryprices>
    <button ng-click="showServices()"> Show Services</button>

</div>
