<hr>
<div class="container">

    <div  class="col-md-3 col-sm-6 hero-feature">
        <div>
            <input type="checkbox" name="laundry_type" ng-model="order.type">
        </div>
        <div>
            <input type="checkbox" name="laundry_type" ng-model="order.type">
        </div>
        <div>
            <input type="checkbox" name="laundry_type" ng-model="order.type">
        </div>

    </div>

</div>
<div  class="container">
    <!--    <a class="btn btn-success" href="#/address">Add address</a>-->

</div>
<div></div>



